* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

.header_text_1 {
	font-size: 50px;
	color: #70869d;
}

.header_text_2 {
	font-size: 70px;
	color: #c9c9c9;
	font-weight: 600;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

header {
    background: url(../images/delivery.jpg) no-repeat center center/cover;
    min-height: 100vh;
}

.header_div {
	display: flex;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.conditions {
	display: flex;
	justify-content: space-around;
}

.condition_1, .condition_2 {
	padding: 14px;
	background: #ebebeb;
	border-radius: 25px;
	font-size: 20px;
}

main {
	margin-top: 50px;
	margin-bottom: 100px;
}

.condition_2 {
	margin-left: 25px;
}

.condition_1 {
	margin-right: 25px;
}

.condition_texts {
	margin-top: 7px;
}

.form_input {
	width: 425px;
    height: 25px;
    padding: 12px 12px 12px 12px;
    border-radius: 25px;
    border: 0;
    background: #d6d6d6;
}

.form_btn {
	width: 274px;
    height: 49px;
    border-radius: 25px;
    border: 0;
    font-size: 25px;
    font-weight: bolder;
    background: #1de892;
}

.form_btn:hover {
	background: #19c56e;
	cursor: pointer;
}

.form_delivery {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}